.logout-button {
    width: 100%;
    padding: 12px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;  /* Menghilangkan garis bawah link */
    display: block;  /* Membuat link full width */
    text-align: center;  /* Menengahkan teks */
}

.logout-button:hover {
    background-color: #555;  /* Tambahkan efek hover jika diperlukan */
    color: white;
}
